.booking-form {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 575px){
    .booking-form { 
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
}
.booking-form label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--base-color);
}
.booking-form select.form-control {
    background-image: url(images/icon-down.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-size: 15px;
}
.booking-form .form-control {
    width: 100%;
    font-size: 16px;
    min-height: 44px;
    padding: 7px 15px;
    border-radius: 4px;
    color: var(--base-color);
    border: 1px solid rgba(0,0,0,.25);
}
.booking-form textarea.form-control {
    min-height: 150px;
}
.radio-group input[type=radio]{
    margin-left: 0;
}
.btn-group {
  grid-column: 1 / -1; /* span from first to last column */
  width: 100%;
}
.booking-form .btn {
    margin: 0 auto;
    display: block;
}